/* Reset default Vite styles */
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #07080d;
  overflow: hidden; /* Prevent document-level scrollbars */
}

/* Global Box-Sizing Reset */
*, *::before, *::after {
  box-sizing: border-box;
}
